@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Orbitron&display=swap');
.Name{
  text-align: center;
}
.Fstyle{
  font-family: Orbitron, sans-serif;
  color: #00838f;
}
.name-2{
  margin-left: 40px;
  font-family: cursive;
}
  .special{
font-family:Nothing You Could Do, cursive; 
text-align: right;
color:#0288d1;
  }
.App{
  background-image: url('https://cgaskell9367.files.wordpress.com/2015/04/watercolor3.jpg');
}
